<div class="containerColumn">
    <img mat-card-image src="assets/profilePicture.jpg" >
    <h1>IT CONSULTANT</h1>
    <h2>at <a style="text-decoration: none" href="https://www.msg-systems.ro/">.msg systems Romania</a></h2>
    <div class="containerRow">
        <a href="https://www.linkedin.com/in/sandra-%C8%99arlea-4612b191/" style="margin-right: 10px"><img matListAvatar src="assets/linkedin.png" class="avatar"></a>
        <a href="https://www.linkedin.com/in/sandra-%C8%99arlea-4612b191/"><img matListAvatar src="assets/git.png" class="avatar"></a>
    </div>
</div>