<form>
    <h1>CONTACT ME</h1>
    <mat-form-field>
      <input matInput placeholder="FIRST NAME" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="LAST NAME" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="EMAIL" >
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Leave a message"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary">
        SEND
    </button>
  </form>